# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage reports
.coverage
.pytest_cache/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/